<h1 id='title'>Jackdaw</h1>
<p>Upload your photos easily.</p><br />
<%= link_to "Register", new_user_registration_path, :class => 'button' %>
<%= link_to "Log In", new_user_session_path, :class => 'button' %>
<%= link_to "Latest", photos_path, :class => 'button' %>